doctype html
html
  body
h3
  | register
  form(action='/sign_up', method='post')
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | phone no :
    input(type='text', name='phone_no')
    | email :
    input(type='text', name='email')
    | password :
    input(type='password', name='password')
    input(type='submit', value='submit')
h3
  | email login
  form(action='/login', method='post' )
    | email :
    input(type='text', name='email')
    | password :
    input(type='password', name='password')   
    input(type='submit', value='submit')

h3
  | email logout
  form(action='/logout', method='post' )
    | email :
    input(type='text', name='email') 
    input(type='submit', value='logout')

h3
  | reset password
  form(action='/reset', method='post' )
    | email :
    input(type='text', name='email') 
    input(type='submit', value='reset')